body {
	margin: 2px;
	padding: 2px;
	cursor: url('hammer-23993.png'), auto;
	background: url("https://cdn.discordapp.com/attachments/618449580761284659/680703014364774400/grass-field-thumbnail.jpg");
}
svg {
	height: fit-content;
}
.mole {
	transform: translateY(70px);
	transition: 0.4s;
}
svg .up {
	transform: translateY(0px);
}
